body{
/*	width: 100px;
	height: 100px;*/
	background-size: cover;
	/*background-color: #369;*/
	background-image: url("../image/bg_2.png");
}
.aki_title{
 color: #000;
 font-size: 40px;
}

.move{
	display: block;
}
.top_image{
	width:40%;
	height: auto;
	margin-left: 30%;
}
.start_btn{
	height:300px;
	width:400px;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

.text-none a{
	text-decoration: none;
}

.text-none:hover a{
	text-decoration: none;
	color: #fff;
}

.margin-text{
	margin-top: 110px;
	font-size: 3rem;
}
/*.goit btn-outline-info{
	margin-top: 60%;
}*/